################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Zenith.Extensions.Core.slnx
/obj
/.vs/ProjectEvaluation
/Zenith.Extensions.Common/obj
/.vs/Zenith.Extensions.Core/CopilotIndices/18.5.39150.21849
