################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Zenith.Extensions.Core.slnx
/obj
/.vs/ProjectEvaluation
/Zenith.Extensions.Common/obj
/.vs/Zenith.Extensions.Core/CopilotIndices/18.5.39150.21849
/Zenith.Extensions.Utils/obj/project.assets.json
/Zenith.Extensions.Utils/obj/Debug/net6.0/Zenith.Extensions.Utils.AssemblyInfoInputs.cache
/Zenith.Extensions.Consul/obj
/Zenith.Extensions.Consul/bin/Debug/net6.0
/Zenith.Extensions.Consul/bin/Debug
/Zenith.Extensions.Common/bin/Debug/net6.0
/Zenith.Extensions.Redis/.vs/ProjectEvaluation
/Zenith.Extensions.Redis/.vs/Zenith.Extensions.Redis/DesignTimeBuild
/Zenith.Extensions.Redis/.vs/Zenith.Extensions.Redis/FileContentIndex
/Zenith.Extensions.Redis/.vs/Zenith.Extensions.Redis/v18
/Zenith.Extensions.Rabbitmq/obj
/Zenith.Extensions.Rabbitmq/bin/Debug/net6.0
